#logplace {
    font: Times new roman;
    color: black;
    object-position: center;
    outline-width: thin;
}
body {
    background-image: url(front.jpg);
}
#footer {
    background-color: white;
}
#quora {
    color: crimson;
}
#kati {
    width: 550px;
    height: 220px;
    background-origin: border-box;
    border: solid #000000;
}
#left {
    width: 400px;
    float: left;
}
#right {
    float: right;
}
p a {
    text-decoration: none;
}
#nav a {
    text-decoration: none;
}
