#logplace {
    font: Times new roman;
    color: black;
    object-position: center;
    outline-width: thin;
}
body {
    background-image: url(front.jpg);
}
#footer {
    background-color: white;
}
#quora {
    color: crimson;
}
#kati {
    width: 600px;
    height: 200px;
    background-origin: border-box;
    object-position: center;
    border: 2px;
}
